@font-face {
  font-family: HKGrotesk-Black;
  src:url("fonts/HKGrotesk-Black.ttf");
}
@font-face {
  font-family: HKGrotesk-Medium;
  src:url("fonts/HKGrotesk-Medium.ttf");
}
@font-face {
  font-family: HKGrotesk-Regular;
  src:url("fonts/HKGrotesk-Regular.ttf");
}
@font-face {
  font-family: HKGrotesk-SemiBold;
  src:url("fonts/HKGrotesk-SemiBold.ttf");
}


body {
  background-color: black;
  margin: 0px;
}

.menu-bar
{
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%; 
  padding-bottom: 1%;
  border-bottom: 2px white solid;
  width: 80%;
  overflow: hidden;
}

.logo
{
  align-self: center;
}

.menu-bar-item-container
{
  margin-left: auto;    
  display: flex;
  flex-direction: row;
}

.navbar {
  overflow: hidden;
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  font-style: normal;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  text-align: right;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: black;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}






.white-body
{
  display: flex;
  flex-direction: column;
  height: 110px;
  background-color: white;
  justify-content: space-between;
  color: black;
  height: 110%;
  padding-left: 10%;
  padding-right: 10%;
}

.description-content
{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.right-description
{
  margin-left: auto;
  width: auto;
  padding-top: 10px;
}

.left-description
{
  width: 60%;
}

.project-name
{
  font-family: freight-text-pro, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
}

.project-description
{
  font-family: HKGrotesk-Regular;
  font-size: 14px;
  margin-top: 15px;
  color: #ABABAD;
  line-height: 20px;
}

.project-year-label, .project-platform-label
{
  font-family: freight-text-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .08vw;
  margin-bottom: 10px;
  text-align: right;
}

.project-year, .project-platform
{
  font-family: HKGrotesk-Regular;
  color: #ABABAD;
  text-align: right;

}

.project-platform-label
{
  margin-top: 35px;
}

.main-photo
{
  width: 100%;
  margin-bottom: 2%;
}

.section-name
{
  font-family: HKGrotesk-SemiBold;
  font-size: 25px;
}

.section-description
{
  font-family: HKGrotesk-Regular;
  font-size: 14px;
  margin-top: 15px;
  color: #ABABAD;
  line-height: 20px;
}

.GENEify-patterns
{
  width: 45%;
  height: 45%;
  padding: 1%;
}

.content
{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.content .right-description
{
  margin-left:5%;
  width: 55%;
  text-align: right;
}

.content .left-description
{
  width: 40%;
}

#short-story-large-photos
{
  background-color: #E6E6E6;
  text-align: center;
}

.short-story-photos
{
  padding: 1%;
  width: 40%;
}

.right-description .short-story-photos
{
  width: 100%;
}

#WUNS
{
  background-color: #ABABAD;
  text-align: center;
  align-items: center;  
}

#WUNS .main-photo
{
  width: 96%;
  padding-top: 2%;
}

.description
{
  width: 40%;
}

#school-closed, #application
{
  width: 22%;
  margin-left: 8%;
}

.percentage
{
  font-family: freight-text-pro, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
  text-align: center;
  color: #FFA19B;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px black;
}

.task
{
  color: black;
}

.footer
{
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  font-style: normal;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  font-size: 12px;
  background-color: black;
}

#interview-main
{
  background-color: #E6E6E6;
  text-align: center;
}

#interview-main-photo
{
  padding: 1%;
  width: 40%;
}

.content-column
{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.content-column .right-description
{
  margin-left:5%;
  width: 55%;
  text-align: right;
}

.content-column .left-description
{
  width: 40%;
}

.below-description
{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.interview-wireframe-middle
{
  width: 31%;
  margin-left: 2.8%;
  margin-right: 2.8%;
  margin-top: 1.4%;
  margin-bottom: 1.4%;

  border: 1px #797979 solid;
}

.interview-wireframe-side
{
  width: 31%;
  margin-top: 1.4%;
  margin-bottom: 1.4%;
  border: 1px #797979 solid;
}

.main-photo #scooper-main-photo
{
  width: auto;
  background-color: none;
}

.large-photo #scooper-main
{
  background-color: none;
  margin-bottom: 0px;
}

.scooper-images
{
  width: 40%;
  margin: 4%;
  margin-top: 0px !important;
}

.footer-name
{
  margin-left: 1%;
}

.footer-links
{
  margin-left: auto;
  word-spacing: 10px;
  color: white;
  text-decoration: none;
}

.section-name-second
{
  font-family: HKGrotesk-SemiBold;
  font-size: 20px;
  margin-top: 50px;
}

.section-description-second
{
  font-family: HKGrotesk-Regular;
  font-size: 14px;
  margin-top: 15px;
  color: #ABABAD;
  line-height: 20px;
  width: 40%;
}

.spoon-rendering
{
  width: 29%;
  margin-left: 1%;
}

.spoon-rendering-middle
{
  width: 29%;
  margin-left: 3%;
  margin-right: 3%;
}

.spoon-rendering-wiring
{
  width: 35%;
}

.spoon-rendering-wired
{
  width: 50%;
  margin-left: 10%;
}

.yehudas-chair
{
  background-color: #E6E6E6;
  padding-top: 3%;
  padding-bottom: 3%;
}

.highchair-rendering
{
  margin: 0px;
  width: 30%;
  margin: 1.66666%;
}

.highchair-rendering-sew
{
  margin: 0px;
  width: 22%;
  margin: 1.5%;}

.section-description .render-text
{
  font-family: HKGrotesk-Regular;
  font-size: 14px;
  color: #ABABAD;
  line-height: 20px;
}

.highchair-large-photo

{
  text-align: center;
  background-color: #E6E6E6;
}

.real-highchair-final
{
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 2%;
  text-align: center;
  background-color: #e6e6e6;
}

.highchair-final
{
  text-align: center;
}

.highchair-prototype
{
  margin: 0px;
  width: 22%;
  margin-right: 1.5%;
}

#reflectback-iframe
{
  margin-bottom: 5%;
  width: 100%;
  height: 700px;
}