@font-face {
  font-family: HKGrotesk-Black;
  src:url("fonts/HKGrotesk-Black.ttf");
}
@font-face {
  font-family: HKGrotesk-Medium;
  src:url("fonts/HKGrotesk-Medium.ttf");
}
@font-face {
  font-family: HKGrotesk-Regular;
  src:url("fonts/HKGrotesk-Regular.ttf");
}


body {
  background-color: black;
  margin: 0px;
}

.menu-bar
{
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%; 
  padding-bottom: 1%;
  border-bottom: 2px white solid;
  width: 80%;
  overflow: hidden;
}

.logo
{
  align-self: center;
}

.menu-bar-item-container
{
  margin-left: auto;    
  display: flex;
  flex-direction: row;
}

.navbar {
  overflow: hidden;
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  font-style: normal;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: black;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}






.white-body
{
  display: flex;
  flex-direction: column;
  height: 110px;
  background-color: white;
  justify-content: space-between;
  color: black;
  height: 110%;
  padding-left: 10%;
  padding-right: 10%;
}

.description-content
{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.right-description
{
  margin-left: auto;
  width: auto;
  padding-top: 10px;
}

.left-description
{
  width: 50%;
}

.project-name
{
  font-family: freight-text-pro, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
}

.project-description
{
  font-family: HKGrotesk-Regular;
  font-size: 14px;
  margin-top: 15px;
  color: #ABABAD;
  line-height: 20px;
}

.project-year-label, .project-platform-label
{
  font-family: freight-text-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .08vw;
  margin-bottom: 10px;
}

.project-year, .project-platform
{
  font-family: HKGrotesk-Regular;
  color: #ABABAD;
}

.project-platform-label
{
  margin-top: 35px;
}

.main-photo
{
  width: 100%;
  margin-bottom: 100px;
}


































.footer
{
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  font-style: normal;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  font-size: 12px;
}

.footer-name
{
  margin-left: 1%;
}

.footer-links
{
  margin-left: auto;
  word-spacing: 10px;
  color: white;
  text-decoration: none;
}